/* 模态框（弹层） */

.model{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
.model-dialog{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 400px;
    /* margin: 50px auto; */
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.model-header{
    position: relative;
    border-bottom: 1px solid #cccccc;
}

.model-title{
    padding: 10px;
}

.model .close{
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.model-body{
    padding: 10px;
}

.model-footer{
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #cccccc;
    box-sizing: border-box;
}

.model-footer .ok{
    padding: 0px 10px;
    float: right;
}