/* 公用的样式 */
*{
    margin:0; 
    padding: 0;
}
body{
    font:14px "HanHei SC","PingFang SC","Avenir Next",Avenir,"Helvetica Neue",Helvetica,"Lantinghei SC","Hiragino Sans GB","Microsoft YaHei",微软雅黑,STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}